.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.pagination-container button {
    font-size: 18px;
    padding: 8px;
}

.pagination-container span {
    margin: 0 10px;
}
/* scanner.component.css */
#animationContainer {
  width: 100%;
  height: 300px; /* Adjust this value if needed */
  background-color: #f0f0f0; /* Optional: Add background color to check visibility */
}
